#form {
    text-align: center;
}

#contactInfo {
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 50%;
    background-color: lightgray;
}

textarea {
    width: 75%;
    background-color: lightgray;
}