.jumbotron {
  text-align: center;
  border: 1pt black solid;
  background-color: transparent;
}
.cardInfo {
  background-color: white;
  border: 2pt solid black;
  border-radius: 30px;
  width: 60%;
  float: left;
  height: 500px;
}

#header1 {
  color: black;
}
/* .cardPic1 {
  background-image: url("../../images/Greg-Kirsten-89.jpg");
}
.cardPic2 {
  background-image: url("./fam1.png");
}
.cardPic3 {
  background-image: url("./fam1.png");
}
.cardPic4 {
  background-image: url("./fam1.png");
}
.cardPic5 {
  background-image: url("./fam1.png");
}
.cardPic6 {
  background-image: url("./fam1.png");
} */
