.jumbotron {
    text-align: center;
    border: 1pt black solid;
    background-color: transparent;
}
.cardInfo {
    background-color: white;
    /* background-image: url("./fam1.png"); */
    border: 2pt solid black;
    border-radius: 30px;
    width: 60%;
    float: left;
    height: 500px;
}

#header1 {
    color: black;
}